---
import Base from "../layout/Base.astro";
import { supabase } from "../lib/supabase";
import OrderSummaryCards from "../components/OrderSummaryCards";

export const prerender = false;

const { data: { session } } = await supabase.auth.getSession();

if (!session) {
  return Astro.redirect("/");
}

// Fetch orders data from the API
const response = await fetch(`${Astro.url.origin}/api/woo/get-orders`);
const ordersData = await response.json();

// Fetch users data from the API
const usersResponse = await fetch(`${Astro.url.origin}/api/wp/get-users`);
const usersData = await usersResponse.json();

// Verificar que ordersData tenga la estructura correcta
if (!ordersData.data?.orders) {
  ordersData.data = {
    orders: [],
    total: "0",
    totalPages: "0"
  };
}

const title = "Dashboard - Rental Mhans";
---

<Base title={title}>
  <div class="container py-6">
    <OrderSummaryCards 
      client:load
      orders={ordersData.data.orders || []}
      totalOrders={ordersData.data.total || "0"}
      users={usersData.users || []}
    />
    
  </div>
</Base>
